.input_container {
    width: var(--input_size);
    height: 50px;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.input {
    background-color: var(--gray);
    height: 40px;
    padding: 0;
    border-color: white;
    border-width: 0;
    border-style: none;
}


.input:focus {
    outline-width: 0;
}

/* To remove arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}