.dropdown_container {
    width: 85px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;
}

.dropdown_container:hover {
    background-color: #F0F0F0;
    color: black;
}

.dropdown_container:active {
    background-color: white;
    color: black;
}

.image {
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.text {
    font-size: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown_content::-webkit-scrollbar {
    display: none;
}


.dropdown_content {
    margin-top: 2px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 85px;
    height: 100px;
    overflow-y: scroll;
    position: absolute;
    border-radius: 5px;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    
}

.dropdown_content_item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color .15s ease;
    user-select: none;
    height: 30px;
}

.dropdown_content_item:hover {
    background-color: #F0F0F0;
    transition: background-color .15s ease;
}

.dropdown_container:active {
    background-color: #F0F0F0;
}

.icon {
    margin-right: 2px;
}

.dropdown_content_last_item {
    width: auto;
}

.ml-8 {
    margin-left: 8px;
}

.mr-26 {
    margin-right: 26px;
}
