:root {
  --primary: rgb(73, 204, 104);
  --gray: #F5F9FC;
  --input_size: 350px;
  /* input and container of currency result share the same width, so changing one implies changing the other also*/
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.header_elements {
  width: 200px;
  display: flex;
}


.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text {
  font-size: 13px;
  color: gray;
}

.pointer {
  cursor: pointer;
}

.row_space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


}

.divider {
  border-bottom: 1px solid lightgray;
  width: 80%;
  align-self: center;
  margin-bottom: 30px;
}

.bottom_logo_container {
  height: 100%;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom_logo {
  width: 75px;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  align-self: center;
}

.grid-item {
  padding: 10px;
  text-align: center;
}

html,
body,
#root,
.App {
  height: 99%;
}