.list_container {
    width: var(--input_size);
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list_items {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.value {
    font-size: 14px;
    width: 150px;
}

.image_container {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.currency {
    font-size: 10px;
    margin-left: 11px;
}