.button {
    border-radius: 15px;
    border-style: none;
    background: var(--primary);
    color: white;
    font-size: 14px;
    width: 80px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    align-self: flex-end;
}

.button:hover {
    background-color: white;
    border: 1px solid var(--primary);
    color: black;
}

.button:active {
    background-color: var(--primary);
    color:white;
}


button:focus {
    outline: none;
}